{% extends 'main.html'%}
{% block content%}
{% load static %}

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        $(document).ready(function () {
            $('#sub1').click(function (e) {
                $('#form').validate({
                    rules: {
                        firstName: "required",
                        lastName: "required",
                        phoneNumber: "required",
                        email: "required",
                        companyName: "required",
                        position: "required",
                        size: "required",
                        industry: "required",
                        role: "required",
                        lead_position: "required",

                        seller_overview: "required",
                        services_sold: "required",
                        seller_offer: "required",
                        social_proof: "required",
                        short_social_proof: "required",

                        averageSalesCycle: "required",
                        peopleInYourOrganisation: "required",
                        howManyProspects: "required",
                        howManyLeads: "required",
                        howManyQualifiedLeads: "required",
                        teamCloseRate: "required",
                        averageDealSize: "required",
                        prospectcontactcost: "required",                     
                    }
                    })
                var section = $(this).closest("section");
                var $next = section.next();
                if ($next.length > 0 && $("#form").valid()) { 
                    section.toggle();

                    $next.toggle();
                }
                
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#sub2').click(function (e) {
                var section = $(this).closest("section");
                var $next = section.next();
                if ($next.length > 0 && $("#form").valid()) { 
                    section.toggle();

                    $next.toggle();
                }   
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#ending').click(function (e) {
                var section = $(this).closest("section");
                var submit = document.getElementById("sub-mit")
                var $next = section.next();
                if ($next.length > 0 && $("#form").valid()) { 
                    section.toggle();

                    $next.toggle();
                    if (submit.style.display === "none") {
                            $('#sub-mit').toggle()
                        }
                }
                
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.prev').click(function (e) {
                var section = $(this).closest("section");
                var $next = section.prev();
                if ($next.length > 0) {  // check condition first and then hide current section and show next
                    section.toggle();
                    $next.toggle();
                }
            });
        });
    </script>
    <!-- <script>
        $(document).ready(function () {
            $('#ending').click(function (e) {
                var section = document.getElementById("sub-mit");
                if (section.style.display === "none" && $("#form").valid()) {
                $('#sub-mit').toggle()
                }
            });
        });
    </script> -->
</head>

    <section class="hero-container">
        <div>
            <h1 class="primary-heading">ABDD Live Product Demo</h1>
            <p class="hero-text">Complete this short questionnaire to demo the Autonomous Biz Dev Department in real-time.
                This demo will locate a prospect & company that meets your ICP, 
                conduct & deliver research on the prospect/company in the form of a "Prospect Report",
                generate a cold email & text for the prospect based on its research, 
                and provide a current vs. future state cost comparison.</p>
            <div class="hero-nav"><button class="btn-hero">Get Started</button>
                <p>Estimated time to complete: <span>10-15 minutes</span></p>
            </div>
        </div>
        <div class="hero-image-flex"><img class="hero-image" src="{% static 'img/d2.svg' %}"></div>
    </section>
    <section class="form-section">
        <form action="{% url 'dashboard' %}" id="form" method='post' >
            {% csrf_token %}
            <div class="form-box"><img class="invest" src="{% static 'img/d4.svg' %}">
                <section>
                    <div id="form-sub1" class="form-basic">
                        <label>
                            <p>First Name*</p><input name="firstName" class="input" type="text" id="firstName"  value="">
                        </label><label>
                            <p>Last Name*</p><input name="lastName" class="input" type="text" id="lastName"  value="">
                        </label><label>
                            <p>Phone Number*</p><input name="phoneNumber" class="input" type="tel" id="phoneNumber" 
                                value="">
                        </label><label>
                            <p>Work Email*</p><input name="email" class="input" type="email" id="email"  value="">
                        </label><label>
                            <p>Company Name*</p><input name="companyName" class="input" type="text" id="companyName" 
                                value="">
                        </label>
                        <label>
                            <p>What is your position/title?*</p><input class="input"
                                name="position" type="text" id="position"  value="">
                        </label>
                    </div>
                    <div id="sub1" class="btn-hero next" >Next</div>
                    <!-- <button id="sub1" class="btn-hero next" >Next</button> -->
                </section>
                <section style="display: none;">
                <div class="form-basic-2" id="form-sub2">
                    <h2>Tell us a little about your ideal prospect.</h2>
                    <p class="form-sub">This info will be used to generate your Prospect Report &amp; outreach
                        messages in real-time during our demo.</p>
                    <div class="select">
                        <p class="select-label">Please select your ideal lead's management level*</p>
                        <select
                            id="level" name="lead_position">
                            <option selected disabled value="">--select options--</option>
                            <option value="1">owner</option>
                            <option value="1">partner</option>
                            <option value="1">cxo</option>
                            <option value="1">vice-president-vp</option>
                            <option value="1">director</option>
                            <option value="1">manager</option>
                            <option value="1">senior</option>
                            <option value="1">entry</option>
                            <option value="1">training</option>
                            <option value="1">unpaid</option>
                        </select>
                    </div>
                    <div class="select">
                        <p class="select-label">Please select your ideal lead's role*</p>
                        <select name="role" id="role">
                            <option selected disabled value="">--select options--</option>
                            <option value="1">customer service</option>
                            <option value="1">design</option>
                            <option value="1">education</option>
                            <option value="1">engineering</option>
                            <option value="1">finance</option>
                            <option value="1">health</option>
                            <option value="1">human resources</option>
                            <option value="1">legal</option>
                            <option value="1">marketing</option>
                            <option value="1">media</option>
                            <option value="1">operations</option>
                            <option value="1">public relations</option>
                            <option value="1">real estate</option>
                            <option value="1">sales</option>
                            <option value="1">trades</option>
                        </select>
                    </div>
                    <div class="select">
                        <p class="select-label">Please select your ideal lead's company size*</p>
                        <select
                            id="size" name="size">
                            <option selected disabled value="">--select options--</option>
                            <option value="1">1-10</option>
                            <option value="1">11-50</option>
                            <option value="1">51-200</option>
                            <option value="1">201-500</option>
                            <option value="1">501-1000</option>
                            <option value="1">1001-5000</option>
                            <option value="1">5001-10000</option>
                            <option value="1">10001+</option>
                        </select>
                    </div>
                    <div class="select">
                        <p class="select-label">Please select your ideal prospect's industry*</p>
                        <select
                            id="industry" name="industry">
                            <option selected disabled value="">--select options--</option>
                            <option value="1">accounting</option>
                            <option value="1">airlines/aviation</option>
                            <option value="1">alternative dispute resolution</option>
                            <option value="1">alternative medicine</option>
                            <option value="1">animation</option>
                            <option value="1">apparel &amp; fashion</option>
                            <option value="1">architecture &amp; planning</option>
                            <option value="1">arts and crafts</option>
                            <option value="1">automotive</option>
                            <option value="1">aviation &amp; aerospace</option>
                            <option value="1">banking</option>
                            <option value="1">biotechnology</option>
                            <option value="1">broadcast media</option>
                            <option value="1">building materials</option>
                            <option value="1">business supplies and equipment</option>
                            <option value="1">capital markets</option>
                            <option value="1">chemicals</option>
                            <option value="1">civic &amp; social organization</option>
                            <option value="1">civil engineering</option>
                            <option value="1">commercial real estate</option>
                            <option value="1">computer &amp; network security</option>
                            <option value="1">computer games</option>
                            <option value="1">computer hardware</option>
                            <option value="1">computer networking</option>
                            <option value="1">computer software</option>
                            <option value="1">construction</option>
                            <option value="1">consumer electronics</option>
                            <option value="1">consumer goods</option>
                            <option value="1">consumer services</option>
                            <option value="1">cosmetics</option>
                            <option value="1">dairy</option>
                            <option value="1">defense &amp; space</option>
                            <option value="1">design</option>
                            <option value="1">e-learning</option>
                            <option value="1">education management</option>
                            <option value="1">electrical/electronic manufacturing</option>
                            <option value="1">entertainment</option>
                            <option value="1">environmental services</option>
                            <option value="1">events services</option>
                            <option value="1">executive office</option>
                            <option value="1">facilities services</option>
                            <option value="1">farming</option>
                            <option value="1">financial services</option>
                            <option value="1">fine art</option>
                            <option value="1">fishery</option>
                            <option value="1">food &amp; beverages</option>
                            <option value="1">food production</option>
                            <option value="1">fund-raising</option>
                            <option value="1">furniture</option>
                            <option value="1">gambling &amp; casinos</option>
                            <option value="1">glass, ceramics, &amp; concrete</option>
                            <option value="1">government administration</option>
                            <option value="1">government relations</option>
                            <option value="1">graphic design</option>
                            <option value="1">health, wellness and fitness</option>
                            <option value="1">higher education</option>
                            <option value="1">hospital &amp; health care</option>
                            <option value="1">hospitality</option>
                            <option value="1">human resources</option>
                            <option value="1">import and export</option>
                            <option value="1">individual &amp; family services</option>
                            <option value="1">industrial automation</option>
                            <option value="1">information services</option>
                            <option value="1">information technology and services</option>
                            <option value="1">insurance</option>
                            <option value="1">international affairs</option>
                            <option value="1">international trade and development</option>
                            <option value="1">internet</option>
                            <option value="1">investment banking</option>
                            <option value="1">investment management</option>
                            <option value="1">judiciary</option>
                            <option value="1">law enforcement</option>
                            <option value="1">law practice</option>
                            <option value="1">legal services</option>
                            <option value="1">legislative office</option>
                            <option value="1">leisure, travel, &amp; tourism</option>
                            <option value="1">libraries</option>
                            <option value="1">logistics and supply chain</option>
                            <option value="1">luxury goods &amp; jewelry</option>
                            <option value="1">machinery</option>
                            <option value="1">management consulting</option>
                            <option value="1">maritime</option>
                            <option value="1">market research</option>
                            <option value="1">marketing and advertising</option>
                            <option value="1">mechanical or industrial engineering</option>
                            <option value="1">media production</option>
                            <option value="1">medical devices</option>
                            <option value="1">medical practice</option>
                            <option value="1">mental health care</option>
                            <option value="1">military</option>
                            <option value="1">mining &amp; metals</option>
                            <option value="1">motion pictures and film</option>
                            <option value="1">museums and institutions</option>
                            <option value="1">music</option>
                            <option value="1">nanotechnology</option>
                            <option value="1">newspapers</option>
                            <option value="1">non-profit organization management</option>
                            <option value="1">oil &amp; energy</option>
                            <option value="1">online media</option>
                            <option value="1">outsourcing/offshoring</option>
                            <option value="1">package/freight delivery</option>
                            <option value="1">packaging and containers</option>
                            <option value="1">paper &amp; forest products</option>
                            <option value="1">performing arts</option>
                            <option value="1">pharmaceuticals</option>
                            <option value="1">philanthropy</option>
                            <option value="1">photography</option>
                            <option value="1">plastics</option>
                            <option value="1">political organization</option>
                            <option value="1">primary/secondary education</option>
                            <option value="1">printing</option>
                            <option value="1">professional training &amp; coaching</option>
                            <option value="1">program development</option>
                            <option value="1">public policy</option>
                            <option value="1">public relations and communications</option>
                            <option value="1">public safety</option>
                            <option value="1">publishing</option>
                            <option value="1">railroad manufacture</option>
                            <option value="1">ranching</option>
                            <option value="1">real estate</option>
                            <option value="1">recreational facilities and services</option>
                            <option value="1">religious institutions</option>
                            <option value="1">renewables &amp; environment</option>
                            <option value="1">research</option>
                            <option value="1">restaurants</option>
                            <option value="1">retail</option>
                            <option value="1">security and investigations</option>
                            <option value="1">semiconductors</option>
                            <option value="1">shipbuilding</option>
                            <option value="1">sporting goods</option>
                            <option value="1">sports</option>
                            <option value="1">staffing and recruiting</option>
                            <option value="1">supermarkets</option>
                            <option value="1">telecommunications</option>
                            <option value="1">textiles</option>
                            <option value="1">think tanks</option>
                            <option value="1">tobacco</option>
                            <option value="1">translation and localization</option>
                            <option value="1">transportation/trucking/railroad</option>
                            <option value="1">utilities</option>
                            <option value="1">venture capital &amp; private equity</option>
                            <option value="1">veterinary</option>
                            <option value="1">warehousing</option>
                            <option value="1">wholesale</option>
                            <option value="1">wine and spirits</option>
                            <option value="1">wireless</option>
                            <option value="1">writing and editing</option>
                        </select>
                    </div>
                    
                </div>
                <div id="2nd" class="prev btn-hero" >Previous</div>
                <div id="sub2" class="btn-hero next" >Next</div>
                <!-- <button id="sub2" class="btn-hero next">Next</button> -->
                </section>
                <section style="display: none;">
                <div class="into--scroll" id="shid">
                    <div class="react-reveal opacity1"
                        style="animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 0ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-981427072311194-1;">
                        <h2 class="second-form--1">Tell us a little more about yourself professionally.</h2>
                        <p class="second-form-text--1">Don't overthink your answers! This is just a demo.</p>
                        <label class="textarea-label">
                            <p class="text-title">Please provide a brief sentence of who you are, beginning with
                                the phrase "who is"...*</p><span>(My example) who is an award-winning digital
                                marketing consultant &amp; founder of Ben Ijah LLC.</span><textarea
                                class="text-area-form" type="text" id="whoYouAre" name="seller_overview"
                                placeholder="Type your answer here..." ></textarea>
                        </label>
                        <label class="textarea-label">
                            <p class="text-title">Please provide a list of the service(s) you'd like to sell to
                                the client profile provided in the earlier section *</p><span>(My example)
                                Human-Guided, AI-Driven lead generation software that automates the entire B2B
                                biz dev process and reduces acquisition costs.</span><textarea
                                class="text-area-form" type="text" id="listOfService" name="services_sold"
                                placeholder="Type your answer here..." ></textarea>
                        </label>
                        <label class="textarea-label">
                            <p class="text-title">In one sentence describe your offer/guarantee? In other words,
                                why should this lead meet with you? *</p><span>(My example) We guarantee our
                                system saves your business time and/or money generating B2B leads or your money
                                back</span><textarea class="text-area-form" name="seller_offer" type="text" id="describeYourOffer"
                                placeholder="Type your answer here..." ></textarea>
                        </label><label class="textarea-label">
                            <p class="text-title">Provide a brief list of past success/clients? We're looking to
                                add social proof to your pitch. *</p><span>(My example)
                                has generated millions of dollars across numerous industries with clients
                                including Kareem Abdul-Jabbar &amp; Fix It Bathworks, also personally developed
                                an AI-driven software stack that researches prospects then contacts them with
                                bespoke messaging based on that research.</span><textarea class="text-area-form"
                                type="text" name="social_proof" id="ListOfPastSuccess" placeholder="Type your answer here..."
                                ></textarea>
                        </label>
                        <label class="textarea-label">
                            <p class="text-title">Break down the previous statement into a one-line elevator
                                pitch. *</p><span>(My example) I've generated millions of dollars in numerous
                                industries and developed an AI-driven BDR guaranteed to save your sales team
                                time &amp; money.</span><textarea class="text-area-form" type="text"
                                id="previousStatement" name="short_social_proof" placeholder="Type your answer here..."
                                ></textarea>
                        </label>
                    </div>
                    <div id="3rd" class="prev btn-hero" >Previous</div>
                    <div id="ending" class="btn-hero next" >Next</div>
                </div>
                </section>
                <section id="endopo" class="endopo"  style="display: none;" >
                <div class="react-reveal opacity1 into--scroll" id="shid" 
                    style="animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 0ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-981427072311194-1;">
                    <h2 class="second-form--2">Tell us about your biz dev operations</h2>
                    <p class="second-form-text--2">This doesn't need to be exact. We'll use this information to
                        create your business case.</p>
                    <label class="textarea-label">
                        <p class="text-title">How many months does your average sales cycle take? *</p>
                        <span>Only positive numbers are </span>
                        <input class="text-area-form" name="averageSalesCycle"
                            type="number" id="averageSalesCycle" placeholder="Type your answer here..."
                             value="">
                    </label>

                    <label class="textarea-label">
                        <p class="text-title">How many people in your organization are responsible for business
                            development? *</p><span>If you alone handle all biz dev &amp; sales, list
                            1.</span>
                            <input name="peopleInYourOrganisation" class="text-area-form" type="number" id="peopleInYourOrganisation"
                            placeholder="Type your answer here..."  value="">
                    </label>
                    
                    <label class="textarea-label">
                        <p class="text-title">On average, how many prospects does your team contact directly
                            each month? *</p><span>Please do not include PPC or SMM marketing
                            campaigns.</span>
                            <input name="howManyProspects" class="text-area-form" type="number" id="howManyProspects"
                            placeholder="Type your answer here..."  value="">
                    </label>
                    
                    <label class="textarea-label">
                        <p class="text-title">On average, how many leads does your team generate each month? *
                        </p><span>Only positive numbers are </span>
                        <input class="text-area-form" name="howManyLeads"
                            type="number" id="howManyLeads" placeholder="Type your answer here..." 
                            value="">
                    </label>
                    
                    <label class="textarea-label">
                        <p class="text-title">On average, how many qualified leads does your team generate each
                            month? *</p><span>Only positive numbers are </span>
                            <input name="howManyQualifiedLeads"
                            class="text-area-form" type="number" id="howManyQualifiedLeads"
                            placeholder="Type your answer here..."  value="">
                    </label>
                    
                    <label class="textarea-label">
                        <p class="text-title">On average, what is your team's close rate on qualified leads? *
                        </p><span>Provide percent as a number. Ex. if 50% list 50</span>
                        <input name="teamCloseRate"
                            class="text-area-form" type="number" id="teamCloseRate"
                            placeholder="Type your answer here..."  value="">
                    </label>
                    
                    <label class="textarea-label">
                        <p class="text-title">What is your average deal size? *</p><span>Provide amount as
                            number. Ex. if $50,000 list 50,000</span>
                            <input name="averageDealSize" class="text-area-form" type="number"
                            id="averageDealSize" placeholder="Type your answer here..."  value="">
                    </label>
                    
                    <label class="textarea-label">
                        <p class="text-title">On average, how much does each prospect's contact information cost
                            you? *</p><span>If you don't pay for contact info, list 0</span>
                            <input name="prospectcontactcost"
                            class="text-area-form" type="number" id="prospectContactInfo"
                            placeholder="Type your answer here..."  value="">
                    </label>

                    <p class="text-title title-check">How are you contacting prospects? *</p>
                    <div class="checkbox">
                        <div><input class="thecheckbox" name="contacting" type="checkbox"
                                value="Cold Calling"><label class="checkbox-label">Cold Calling</label></div>
                        <div><input class="thecheckbox" name="contacting" type="checkbox"
                                value="One-On-One Email"><label class="checkbox-label">One-On-One Email</label>
                        </div>
                        <div><input class="thecheckbox" name="contacting" type="checkbox"
                                value="Email Blasts"><label class="checkbox-label">Email Blasts</label></div>
                        <div><input class="thecheckbox" name="contacting" type="checkbox" value="Text"><label
                                class="checkbox-label">Text</label></div>
                        <div><input class="thecheckbox" name="contacting" type="checkbox"
                                value="Social Media DM's"><label class="checkbox-label">Social Media
                                DM's</label></div>
                        <div><input class="thecheckbox" name="contacting" type="checkbox" value="Paid Ads"><label
                                class="checkbox-label">Paid Ads</label></div>
                    </div>
                </div>
                <div id="4th" class="prev btn-hero" >Previous</div>
                </section>
            </div>
            <button type="submit" id="sub-mit" style="display: none; margin-top: 5%;" class="btn-hero opacity1">Submit</button>
        </form>
    </section>


{% endblock content%}