#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

html {
  font-size: 62.5%
}

body {
  font-family: Rubik, sans-serif;
  background-color: #c3d0e7
}

table {
  border: none;
  border-collapse: collapse
}


table {
  width: 80%;
  margin: auto;
  background-color: #edf1f8
}

thead:nth-child(1),
.thead--bottom {
  background-color: #c3d0e7
}

th {
  padding: .75rem 0
}

td:nth-child(1) {
  width: 40%
}

td:nth-child(2),
td:nth-child(3) {
  width: 20%
}

.table-head {
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase
}

.table-head-1 {
  background-color: #82d682
}

.table-head-2 {
  background-color: #4b73b7
}

.switch-color {
  background: #fff;
  color: #000
}

td {
  padding: .75rem 0
}

.btn,
.btn:link,
btn:visited {
  border: none;
  padding: 1rem 2rem;
  margin-bottom: 2.5rem;
  cursor: pointer
}

.btn:hover,
btn:active {
  background-color: #9bb1d7
}

.content--title {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: justify;
  padding-left: 4rem
}

.content--text {
  font-size: 1.3rem;
  font-weight: 400
}

span {
  font-size: 1.2rem
}

.invest {
  width: 95%
}

.logic,
.savings {
  padding-top: 2.5rem;
  width: 75%
}

.savings {
  padding-top: 10rem;
  margin-bottom: .5rem
}

.termsheet {
  padding-top: 10rem;
  width: 90%
}

.online--discussion {
  margin-top: 5rem;
  width: 100%
}

.datapoint {
  width: 100%;
  margin-top: 15rem
}

.last--images {
  position: relative
}

@media (max-width: 600px) {
  html {
    font-size: 60%
  }

  body {
    width: 600px;
  }
  #root {
    width: 500px;

  }

  nav {
    max-width: 500px;
  }


  .invest,
  .logic {
    margin-bottom: 3.2rem
  }

  .termsheet {
    padding-top: 3.2rem;
    margin-bottom: 3.2rem
  }

  .online--discussion,
  .datapoint,
  .savings {
    display: none
  }

  table {
    width: 100%
  }

  .table-head,
  .content--text {
    font-size: 1.2rem
  }

  .table-head span {
    font-size: 1rem
  }

  .content--title {
    padding-left: 1rem;
    font-size: 1.2rem
  }
}

.primary-heading {
  font-size: 5.8rem;
  font-weight: 800;
  letter-spacing: -2px;
  line-height: 1.05;
  color: #2b2866;
  text-align: justify;
  margin-bottom: 2rem;
  margin-top: 2.5rem
}

.hero-text {
  font-size: 1.8rem;
  letter-spacing: -.5px;
  line-height: 1.4;
  text-align: justify;
  margin-bottom: 5rem;
  color: #2b2866
}

.hero-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  margin-bottom: 9.6rem
}

.hero-image {
  width: 75%
}

.hero-image-flex {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 5rem
}

.btn-hero,
.btn-hero:link,
.btn-hero:visited {
  display: inline-block;
  background-color: #4c45b3;
  color: #fff;
  border: none;
  padding: 1.2rem 3.6rem;
  cursor: pointer;
  border-radius: .5rem;
  font-size: 1.5rem
}

.btn-hero:hover,
.btn-hero:active {
  background-color: #6159e6
}

.hero-nav {
  display: flex;
  align-items: center;
  gap: 4rem
}

.hero-nav p,
.hero-nav span,
.text-title {
  font-size: 1.5rem;
  color: #2b2866
}

.hero-nav span {
  color: #6159e6
}

.form-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 9.6rem
}

.form-basic {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem
}

label {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-left: 4.5rem
}

label p,
label span {
  text-align: justify;
  font-size: 1.5rem;
  color: #2b2866
}

label span {
  opacity: .25
}

.input {
  width: 90%;
  border: none;
  padding: .5rem;
  border-radius: .5rem
}

.form-basic-2 {
  margin-top: 1rem
}

.form-basic-2 h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #2b2866;
  text-align: justify;
  margin-bottom: .5rem
}

.form-sub {
  color: #2b2866;
  max-width: 65%;
  font-size: 1.5rem;
  margin-bottom: 3.2rem;
  text-align: justify;
  line-height: 1.5
}

.form-basic-2 .select-label {
  font-size: 1.6rem;
  color: #2b2866;
  text-align: start
}

select {
  border: none;
  width: 75%;
  padding: .5rem
}

option {
  font-size: 1.5rem
}

.select {
  margin-bottom: 2rem
}

.select-label {
  margin-bottom: .5rem
}

.text-area-form {
  appearance: none;
  display: block;
  width: 100%;
  font-family: inherit;
  color: #0445af;
  padding: 0 0 .5rem;
  border-radius: 0;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.6rem;
  line-height: 1.5;
  overflow-wrap: break-word;
  resize: none;
  overflow: hidden;
  transition: box-shadow .1s ease-out 0s;
  box-shadow: #02153280 0 1px
}

.section-form--2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}

.textarea-label {
  margin-bottom: 4.5rem
}

.checkbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  margin-bottom: 9.6rem;
  padding-left: 4rem
}

.checkbox div {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  color: #2b2866
}

.thecheckbox {
  height: 1.6rem;
  width: 1.6rem
}

.checkbox label {
  margin-left: .5rem
}

.checkbox-label {
  text-align: left
}

.title-check {
  text-align: left;
  padding-left: 4rem;
  margin-bottom: 2.4rem
}

.second-form--1,
.second-form--2 {
  color: #2b2866;
  font-size: 2rem;
  font-weight: 600;
  text-align: justify;
  margin-bottom: .75rem;
  margin-left: 4rem
}

.second-form-text--1,
.second-form-text--2 {
  font-size: 1.6rem;
  color: #2b2866;
  margin-bottom: 4.8rem;
  text-align: justify;
  margin-left: 4rem;
  line-height: 1.5
}

.opacity {
  display: none
}

.form-section,
.container {
  margin-bottom: 9.6rem
}

.welcome--name {
  text-align: start;
  color: #2b2866;
  margin-bottom: 4.8rem;
  margin-left: 9.6rem
}

.welcome--name span {
  font-size: 1.6rem;
  text-transform: capitalize
}

.loader {
  margin: 10% auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #2b2866;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(360deg)
  }
}

@keyframes spin {
  0% {
    transform: rotate(0)
  }

  to {
    transform: rotate(360deg)
  }
}

.visual--grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr
}

.visual--output {
  position: relative;
  margin-bottom: 9.6rem
}

.visual--high-value {
  position: absolute;
  right: 8.5%;
  bottom: 69%;
  font-size: 1.4rem;
  font-weight: 800;
  color: #6159e6
}

.visual--low-value {
  position: absolute;
  left: 15%;
  bottom: 18%;
  font-size: 1.4rem;
  font-weight: 800;
  color: #6159e6
}

@media (max-width: 600px) {
  .hero-container {
    display: block;
    margin-bottom: 4.8rem
  }

  .hero-image-flex {
    display: none
  }

  .form-box {
    display: block
  }

  .form-basic-2 {
    margin: auto
  }

  .form-sub {
    max-width: 100%
  }

  .second-form--1,
  .second-form--2,
  .second-form-text--2,
  .second-form-text--1,
  .textarea-label,
  .welcome--name {
    margin-left: 0
  }

  .title-check,
  .checkbox {
    padding-left: 0
  }

  .visual--grid {
    display: block;
    margin-bottom: 4.8rem;
  }

  .visual--grid img {
    width: 100%
  }

  .visual--output {
    margin-bottom: 0
  }

  .visual--low-value {
    left: -8%;
    bottom: 14%;
    font-size: 1.3rem;
    font-weight: 700
  }

  .visual--high-value {
    right: -12%;
    bottom: 80%;
    font-size: 1.3rem;
    font-weight: 700
  }
}