.elementor-15846 .elementor-element.elementor-element-546c04d>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-546c04d:not(.elementor-motion-effects-element-type-background),
.elementor-15846 .elementor-element.elementor-element-546c04d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ECECEC;
}

.elementor-15846 .elementor-element.elementor-element-546c04d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0% 10% 20% 10%;
}

.elementor-15846 .elementor-element.elementor-element-546c04d>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-9c6ebee.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-9c6ebee.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-4865d67 .elementor-heading-title {
    font-family: "Varela Round", Sans-serif;
    font-size: 54px;
    line-height: 60px;
}

.elementor-15846 .elementor-element.elementor-element-4865d67>.elementor-widget-container {
    padding: 0% 0% 10% 0%;
}

.elementor-15846 .elementor-element.elementor-element-3346b8f {
    font-family: "Exo 2", Sans-serif;
    font-size: 20px;
}

.elementor-15846 .elementor-element.elementor-element-3346b8f>.elementor-widget-container {
    padding: 0% 0% 5% 0%;
}

.elementor-15846 .elementor-element.elementor-element-e56f97f .elementor-button .elementor-align-icon-right {
    margin-left: 15px;
}

.elementor-15846 .elementor-element.elementor-element-e56f97f .elementor-button .elementor-align-icon-left {
    margin-right: 15px;
}

.elementor-15846 .elementor-element.elementor-element-e56f97f .elementor-button {
    font-family: "Exo 2", Sans-serif;
    font-size: 19px;
    font-weight: 700;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    background-color: #0571F3;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #0571F3;
    border-radius: 10px 10px 10px 10px;
    padding: 3% 3% 3% 3%;
}

.elementor-15846 .elementor-element.elementor-element-e56f97f .elementor-button:hover,
.elementor-15846 .elementor-element.elementor-element-e56f97f .elementor-button:focus {
    color: #0571F3;
    background-color: #02010100;
}

.elementor-15846 .elementor-element.elementor-element-e56f97f .elementor-button:hover svg,
.elementor-15846 .elementor-element.elementor-element-e56f97f .elementor-button:focus svg {
    fill: #0571F3;
}

.elementor-15846 .elementor-element.elementor-element-e56f97f {
    width: 100%;
    max-width: 100%;
    align-self: center;
}

.elementor-15846 .elementor-element.elementor-element-bae9b35:not(.elementor-motion-effects-element-type-background),
.elementor-15846 .elementor-element.elementor-element-bae9b35>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-15846 .elementor-element.elementor-element-bae9b35 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0% 10% 0% 10%;
}

.elementor-15846 .elementor-element.elementor-element-bae9b35>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15846 .elementor-element.elementor-element-ea68b6c .elementor-wrapper {
    --video-aspect-ratio: 1.77777;
}

.elementor-15846 .elementor-element.elementor-element-ea68b6c>.elementor-widget-container {
    margin: -25% 0% 0% 0%;
    padding: 0% 5% 0% 5%;
}

.elementor-15846 .elementor-element.elementor-element-bd6799a:not(.elementor-motion-effects-element-type-background),
.elementor-15846 .elementor-element.elementor-element-bd6799a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-15846 .elementor-element.elementor-element-bd6799a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 10% 0% 10% 0%;
}

.elementor-15846 .elementor-element.elementor-element-bd6799a>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15846 .elementor-element.elementor-element-c7f97a0 {
    text-align: center;
}

.elementor-15846 .elementor-element.elementor-element-c7f97a0 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Varela Round", Sans-serif;
    font-weight: 800;
}

.elementor-15846 .elementor-element.elementor-element-c7f97a0>.elementor-widget-container {
    padding: 3% 0% 0% 0%;
}

.elementor-15846 .elementor-element.elementor-element-f81cafa>.elementor-widget-container {
    padding: 3% 0% 0% 0%;
}

.elementor-15846 .elementor-element.elementor-element-034b89f {
    text-align: center;
}

.elementor-15846 .elementor-element.elementor-element-034b89f .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Varela Round", Sans-serif;
    font-weight: 800;
}

.elementor-15846 .elementor-element.elementor-element-034b89f>.elementor-widget-container {
    padding: 3% 0% 0% 0%;
}

.elementor-15846 .elementor-element.elementor-element-3917321 {
    padding: 10% 0% 0% 0%;
}

.elementor-15846 .elementor-element.elementor-element-a10c6af {
    text-align: center;
}

.elementor-15846 .elementor-element.elementor-element-a10c6af .elementor-heading-title {
    font-family: "Varela Round", Sans-serif;
    font-size: 36px;
    line-height: 44px;
}

.elementor-15846 .elementor-element.elementor-element-a10c6af>.elementor-widget-container {
    padding: 0% 0% 0% 0%;
}

.elementor-15846 .elementor-element.elementor-element-f79fda6 {
    padding: 9% 9% 9% 9%;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-7868034.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-7868034.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-7868034>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0% 5% 0% 5%;
}

.elementor-15846 .elementor-element.elementor-element-909139d .elementor-heading-title {
    color: #ADADAD;
    font-family: "Exo 2", Sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.elementor-15846 .elementor-element.elementor-element-c4da6fe .elementor-heading-title {
    font-family: "Varela Round", Sans-serif;
    font-size: 36px;
    -webkit-text-stroke-color: #000;
    stroke: #000;
}

.elementor-15846 .elementor-element.elementor-element-cd1f34c {
    font-family: "Exo 2", Sans-serif;
    font-size: 16px;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-4297afe.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-4297afe.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-0504406 {
    padding: 9% 9% 9% 9%;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-460821f.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-460821f.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-545fb70.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-545fb70.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-545fb70>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0% 5% 0% 5%;
}

.elementor-15846 .elementor-element.elementor-element-7be2bf3 .elementor-heading-title {
    color: #ADADAD;
    font-family: "Exo 2", Sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.elementor-15846 .elementor-element.elementor-element-33326d9 .elementor-heading-title {
    font-family: "Varela Round", Sans-serif;
    font-size: 36px;
    -webkit-text-stroke-color: #000;
    stroke: #000;
}

.elementor-15846 .elementor-element.elementor-element-2de6681 {
    font-family: "Exo 2", Sans-serif;
    font-size: 16px;
}

.elementor-15846 .elementor-element.elementor-element-7b75518 {
    padding: 9% 9% 9% 9%;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-1916991.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-1916991.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-1916991>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0% 5% 0% 5%;
}

.elementor-15846 .elementor-element.elementor-element-a99bc93 .elementor-heading-title {
    color: #ADADAD;
    font-family: "Exo 2", Sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.elementor-15846 .elementor-element.elementor-element-93f4c96 .elementor-heading-title {
    font-family: "Varela Round", Sans-serif;
    font-size: 36px;
    -webkit-text-stroke-color: #000;
    stroke: #000;
}

.elementor-15846 .elementor-element.elementor-element-c96de2c {
    font-family: "Exo 2", Sans-serif;
    font-size: 16px;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-83c2736.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-83c2736.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-3ddc98f {
    padding: 9% 9% 9% 9%;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-ee356a0.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-ee356a0.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-24bfb7c {
    text-align: left;
}

.elementor-15846 .elementor-element.elementor-element-24bfb7c>.elementor-widget-container {
    margin: 0% 0% -16% 0%;
}

.elementor-15846 .elementor-element.elementor-element-659f0c7 {
    text-align: right;
}

.elementor-15846 .elementor-element.elementor-element-659f0c7>.elementor-widget-container {
    margin: -25% 0% 0% 0%;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-20dbd7e.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-20dbd7e.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-20dbd7e>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0% 5% 0% 5%;
}

.elementor-15846 .elementor-element.elementor-element-5a03c50 .elementor-heading-title {
    color: #ADADAD;
    font-family: "Exo 2", Sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.elementor-15846 .elementor-element.elementor-element-4d787d5 .elementor-heading-title {
    font-family: "Varela Round", Sans-serif;
    font-size: 36px;
    -webkit-text-stroke-color: #000;
    stroke: #000;
}

.elementor-15846 .elementor-element.elementor-element-4e67fe6 {
    font-family: "Exo 2", Sans-serif;
    font-size: 16px;
}

.elementor-15846 .elementor-element.elementor-element-ec244d0 {
    padding: 9% 9% 9% 9%;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-d23bdb0.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-d23bdb0.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-d23bdb0>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0% 5% 0% 5%;
}

.elementor-15846 .elementor-element.elementor-element-676c5ed .elementor-heading-title {
    color: #ADADAD;
    font-family: "Exo 2", Sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.elementor-15846 .elementor-element.elementor-element-39f7b79 .elementor-heading-title {
    font-family: "Varela Round", Sans-serif;
    font-size: 36px;
    -webkit-text-stroke-color: #000;
    stroke: #000;
}

.elementor-15846 .elementor-element.elementor-element-feeef18 {
    font-family: "Exo 2", Sans-serif;
    font-size: 16px;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-023413f.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-023413f.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-33052e6 {
    padding: 9% 9% 9% 9%;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-ba9508e.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-ba9508e.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-66c077a.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-66c077a.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-66c077a>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0% 5% 0% 5%;
}

.elementor-15846 .elementor-element.elementor-element-7c39a92 .elementor-heading-title {
    color: #ADADAD;
    font-family: "Exo 2", Sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.elementor-15846 .elementor-element.elementor-element-2e1367c .elementor-heading-title {
    font-family: "Varela Round", Sans-serif;
    font-size: 36px;
    -webkit-text-stroke-color: #000;
    stroke: #000;
}

.elementor-15846 .elementor-element.elementor-element-2799e72 {
    font-family: "Exo 2", Sans-serif;
    font-size: 16px;
}

.elementor-15846 .elementor-element.elementor-element-04e11f2 .elementor-button .elementor-align-icon-right {
    margin-left: 15px;
}

.elementor-15846 .elementor-element.elementor-element-04e11f2 .elementor-button .elementor-align-icon-left {
    margin-right: 15px;
}

.elementor-15846 .elementor-element.elementor-element-04e11f2 .elementor-button {
    font-family: "Exo 2", Sans-serif;
    font-size: 19px;
    font-weight: 700;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    background-color: #000000;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #000000;
    border-radius: 15px 15px 15px 15px;
    padding: 2% 2% 2% 2%;
}

.elementor-15846 .elementor-element.elementor-element-04e11f2 .elementor-button:hover,
.elementor-15846 .elementor-element.elementor-element-04e11f2 .elementor-button:focus {
    color: #000000;
    background-color: #02010100;
}

.elementor-15846 .elementor-element.elementor-element-04e11f2 .elementor-button:hover svg,
.elementor-15846 .elementor-element.elementor-element-04e11f2 .elementor-button:focus svg {
    fill: #000000;
}

.elementor-15846 .elementor-element.elementor-element-04e11f2>.elementor-widget-container {
    margin: 3% 0% 0% 0%;
}

.elementor-15846 .elementor-element.elementor-element-04e11f2 {
    width: 100%;
    max-width: 100%;
    align-self: center;
}

.elementor-15846 .elementor-element.elementor-element-289be30 {
    margin-top: 10%;
    margin-bottom: 20%;
    padding: 0% 15% 0% 15%;
}

.elementor-15846 .elementor-element.elementor-element-46b77b0 {
    text-align: center;
}

.elementor-15846 .elementor-element.elementor-element-46b77b0 .elementor-heading-title {
    font-family: "Varela Round", Sans-serif;
    font-size: 44px;
}

.elementor-15846 .elementor-element.elementor-element-8865458 {
    text-align: center;
    font-family: "Exo 2", Sans-serif;
    font-size: 16px;
}

.elementor-15846 .elementor-element.elementor-element-8865458>.elementor-widget-container {
    padding: 0% 15% 0% 15%;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-26ae9ab.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-26ae9ab.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-26ae9ab>.elementor-element-populated>.elementor-widget-wrap {
    padding: 5% 5% 5% 5%;
}

.elementor-15846 .elementor-element.elementor-element-74a6f69 {
    text-align: center;
}

.elementor-15846 .elementor-element.elementor-element-74a6f69 img {
    height: 20px;
    object-fit: contain;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-4139953.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-4139953.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-4139953>.elementor-element-populated>.elementor-widget-wrap {
    padding: 5% 5% 5% 5%;
}

.elementor-15846 .elementor-element.elementor-element-c1296fc {
    text-align: center;
}

.elementor-15846 .elementor-element.elementor-element-c1296fc img {
    height: 50px;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-6a7a6d1.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-6a7a6d1.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-6a7a6d1>.elementor-element-populated>.elementor-widget-wrap {
    padding: 10% 10% 10% 10%;
}

.elementor-15846 .elementor-element.elementor-element-70c205b {
    text-align: center;
}

.elementor-15846 .elementor-element.elementor-element-70c205b img {
    height: 50px;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-6aa70b8.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-6aa70b8.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-6aa70b8>.elementor-element-populated>.elementor-widget-wrap {
    padding: 10% 10% 10% 10%;
}

.elementor-15846 .elementor-element.elementor-element-bcc841a {
    text-align: center;
}

.elementor-15846 .elementor-element.elementor-element-bcc841a img {
    height: 20px;
    object-fit: contain;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-4b038df.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-4b038df.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-4b038df>.elementor-element-populated>.elementor-widget-wrap {
    padding: 10% 10% 10% 10%;
}

.elementor-15846 .elementor-element.elementor-element-b81d071 {
    text-align: center;
}

.elementor-15846 .elementor-element.elementor-element-b81d071 img {
    height: 50px;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-9e2d743.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-9e2d743.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-9e2d743>.elementor-element-populated>.elementor-widget-wrap {
    padding: 5% 5% 5% 5%;
}

.elementor-15846 .elementor-element.elementor-element-2167038 {
    text-align: center;
}

.elementor-15846 .elementor-element.elementor-element-2167038 img {
    height: 50px;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-9ebd842.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-9ebd842.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-9ebd842>.elementor-element-populated>.elementor-widget-wrap {
    padding: 5% 5% 5% 5%;
}

.elementor-15846 .elementor-element.elementor-element-b1bb11f {
    text-align: center;
}

.elementor-15846 .elementor-element.elementor-element-b1bb11f img {
    height: 50px;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-6ad34af.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-6ad34af.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-6ad34af>.elementor-element-populated>.elementor-widget-wrap {
    padding: 5% 5% 5% 5%;
}

.elementor-15846 .elementor-element.elementor-element-8ae50f7 {
    text-align: center;
}

.elementor-15846 .elementor-element.elementor-element-8ae50f7 img {
    height: 20px;
    object-fit: contain;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-a012bfc.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-a012bfc.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-a012bfc>.elementor-element-populated>.elementor-widget-wrap {
    padding: 5% 5% 5% 5%;
}

.elementor-15846 .elementor-element.elementor-element-9db1884 {
    text-align: center;
}

.elementor-15846 .elementor-element.elementor-element-9db1884 img {
    height: 50px;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-5df3952.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-5df3952.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-5df3952>.elementor-element-populated>.elementor-widget-wrap {
    padding: 5% 5% 5% 5%;
}

.elementor-15846 .elementor-element.elementor-element-120b646 {
    text-align: center;
}

.elementor-15846 .elementor-element.elementor-element-120b646 img {
    height: 50px;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-9ee9a2c.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-9ee9a2c.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-9ee9a2c>.elementor-element-populated>.elementor-widget-wrap {
    padding: 5% 5% 5% 5%;
}

.elementor-15846 .elementor-element.elementor-element-477a9c8 {
    text-align: center;
}

.elementor-15846 .elementor-element.elementor-element-477a9c8 img {
    height: 50px;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-e7ffc4a.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-e7ffc4a.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-e7ffc4a>.elementor-element-populated>.elementor-widget-wrap {
    padding: 5% 5% 5% 5%;
}

.elementor-15846 .elementor-element.elementor-element-c7c8b14 {
    text-align: center;
}

.elementor-15846 .elementor-element.elementor-element-c7c8b14 img {
    height: 50px;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-a4e7961.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-a4e7961.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-a4e7961>.elementor-element-populated>.elementor-widget-wrap {
    padding: 5% 5% 5% 5%;
}

.elementor-15846 .elementor-element.elementor-element-f161cdf {
    text-align: center;
}

.elementor-15846 .elementor-element.elementor-element-f161cdf img {
    height: 50px;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-5dc2d2a.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-5dc2d2a.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-5dc2d2a>.elementor-element-populated>.elementor-widget-wrap {
    padding: 5% 5% 5% 5%;
}

.elementor-15846 .elementor-element.elementor-element-c8b1727 {
    text-align: center;
}

.elementor-15846 .elementor-element.elementor-element-c8b1727 img {
    height: 50px;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-8835194.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-8835194.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-8835194>.elementor-element-populated>.elementor-widget-wrap {
    padding: 5% 5% 5% 5%;
}

.elementor-15846 .elementor-element.elementor-element-81b7cb9 {
    text-align: center;
}

.elementor-15846 .elementor-element.elementor-element-81b7cb9 img {
    height: 50px;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-bd77888.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-bd77888.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-bd77888>.elementor-element-populated>.elementor-widget-wrap {
    padding: 5% 5% 5% 5%;
}

.elementor-15846 .elementor-element.elementor-element-cf1a4ac {
    text-align: center;
}

.elementor-15846 .elementor-element.elementor-element-cf1a4ac img {
    height: 41px;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-d5b7a13.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-d5b7a13.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-d5b7a13>.elementor-element-populated>.elementor-widget-wrap {
    padding: 5% 5% 5% 5%;
}

.elementor-15846 .elementor-element.elementor-element-3be0778 {
    text-align: center;
}

.elementor-15846 .elementor-element.elementor-element-3be0778 img {
    height: 50px;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-3d36b80.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-3d36b80.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-3d36b80>.elementor-element-populated>.elementor-widget-wrap {
    padding: 5% 5% 5% 5%;
}

.elementor-15846 .elementor-element.elementor-element-1e58617 {
    text-align: center;
}

.elementor-15846 .elementor-element.elementor-element-1e58617 img {
    height: 40px;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-abed621.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-abed621.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-abed621>.elementor-element-populated>.elementor-widget-wrap {
    padding: 5% 5% 5% 5%;
}

.elementor-15846 .elementor-element.elementor-element-94d640e {
    text-align: center;
}

.elementor-15846 .elementor-element.elementor-element-94d640e img {
    height: 40px;
}

.elementor-bc-flex-widget .elementor-15846 .elementor-element.elementor-element-e34e4b8.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-e34e4b8.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15846 .elementor-element.elementor-element-e34e4b8>.elementor-element-populated>.elementor-widget-wrap {
    padding: 5% 5% 5% 5%;
}

.elementor-15846 .elementor-element.elementor-element-f644534 {
    text-align: center;
}

.elementor-15846 .elementor-element.elementor-element-f644534 img {
    height: 40px;
}

.elementor-15846 .elementor-element.elementor-element-fe9c0ac:not(.elementor-motion-effects-element-type-background),
.elementor-15846 .elementor-element.elementor-element-fe9c0ac>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-15846 .elementor-element.elementor-element-fe9c0ac {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 14% 0% 1% 0%;
}

.elementor-15846 .elementor-element.elementor-element-fe9c0ac>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15846 .elementor-element.elementor-element-f9fd24d {
    text-align: center;
}

.elementor-15846 .elementor-element.elementor-element-f9fd24d .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-15846 .elementor-element.elementor-element-413c0a4>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 2px 0px 2px;
    border-color: #FFFFFF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-15846 .elementor-element.elementor-element-413c0a4>.elementor-element-populated,
.elementor-15846 .elementor-element.elementor-element-413c0a4>.elementor-element-populated>.elementor-background-overlay,
.elementor-15846 .elementor-element.elementor-element-413c0a4>.elementor-background-slideshow {
    border-radius: 0px 0px 0px 0px;
}

.elementor-15846 .elementor-element.elementor-element-413c0a4>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15846 .elementor-element.elementor-element-7c27f86 {
    text-align: center;
}

.elementor-15846 .elementor-element.elementor-element-7c27f86 .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-15846 .elementor-element.elementor-element-afad2e6 {
    text-align: center;
}

.elementor-15846 .elementor-element.elementor-element-afad2e6 .elementor-heading-title {
    color: #FFFFFF;
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-15846 .elementor-element.elementor-element-9c6ebee {
        width: 100%;
    }
}

@media(max-width:1024px) {
    .elementor-15846 .elementor-element.elementor-element-546c04d {
        margin-top: -34%;
        margin-bottom: 0%;
        padding: 15% 10% 30% 10%;
    }

    .elementor-15846 .elementor-element.elementor-element-4865d67 {
        text-align: center;
    }

    .elementor-15846 .elementor-element.elementor-element-4865d67 .elementor-heading-title {
        font-size: 48px;
    }

    .elementor-15846 .elementor-element.elementor-element-4865d67>.elementor-widget-container {
        padding: 0% 0% 0% 0%;
    }

    .elementor-15846 .elementor-element.elementor-element-3346b8f {
        text-align: center;
    }

    .elementor-15846 .elementor-element.elementor-element-e56f97f .elementor-button {
        font-size: 18px;
    }

    .elementor-15846 .elementor-element.elementor-element-e56f97f {
        width: 100%;
        max-width: 100%;
    }

    .elementor-15846 .elementor-element.elementor-element-ea68b6c>.elementor-widget-container {
        margin: -25% 0% 0% 0%;
        padding: 0% 0% 0% 0%;
    }

    .elementor-15846 .elementor-element.elementor-element-5257cc6>.elementor-element-populated {
        margin: 15% 0% 0% 0%;
        --e-column-margin-right: 0%;
        --e-column-margin-left: 0%;
    }

    .elementor-15846 .elementor-element.elementor-element-04e11f2 {
        width: 100%;
        max-width: 100%;
    }

    .elementor-15846 .elementor-element.elementor-element-289be30 {
        padding: 0% 0% 0% 0%;
    }

    .elementor-15846 .elementor-element.elementor-element-841502e {
        margin-top: 0%;
        margin-bottom: 0%;
    }

    .elementor-15846 .elementor-element.elementor-element-f40e8b0 {
        margin-top: 0%;
        margin-bottom: 0%;
    }
}

@media(max-width:767px) {
    .elementor-15846 .elementor-element.elementor-element-546c04d {
        margin-top: -93%;
        margin-bottom: 0%;
        padding: 20% 10% 25% 10%;
    }

    .elementor-15846 .elementor-element.elementor-element-9c6ebee>.elementor-element-populated {
        margin: 10% 0% 0% 0%;
        --e-column-margin-right: 0%;
        --e-column-margin-left: 0%;
    }

    .elementor-15846 .elementor-element.elementor-element-9c6ebee>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-15846 .elementor-element.elementor-element-4865d67 .elementor-heading-title {
        font-size: 31px;
        line-height: 1.3em;
    }

    .elementor-15846 .elementor-element.elementor-element-4865d67>.elementor-widget-container {
        margin: 13% 0% 0% 0%;
        padding: 0% 0% 0% 0%;
    }

    .elementor-15846 .elementor-element.elementor-element-3346b8f {
        font-size: 16px;
    }

    .elementor-15846 .elementor-element.elementor-element-3346b8f>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-15846 .elementor-element.elementor-element-e56f97f .elementor-button {
        font-size: 15px;
        padding: 5% 5% 5% 5%;
    }

    .elementor-15846 .elementor-element.elementor-element-e56f97f>.elementor-widget-container {
        padding: 0% 0% 10% 0%;
    }

    .elementor-15846 .elementor-element.elementor-element-e56f97f {
        width: 100%;
        max-width: 100%;
        align-self: center;
    }

    .elementor-15846 .elementor-element.elementor-element-bae9b35 {
        padding: 0% 05% 0% 5%;
    }

    .elementor-15846 .elementor-element.elementor-element-bd6799a {
        padding: 10% 10% 10% 10%;
    }

    .elementor-15846 .elementor-element.elementor-element-5257cc6>.elementor-element-populated {
        margin: 015% 0% 15% 0%;
        --e-column-margin-right: 0%;
        --e-column-margin-left: 0%;
    }

    .elementor-15846 .elementor-element.elementor-element-5257cc6>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-15846 .elementor-element.elementor-element-c7f97a0 .elementor-heading-title {
        font-size: 17px;
        line-height: 1.5em;
    }

    .elementor-15846 .elementor-element.elementor-element-034b89f .elementor-heading-title {
        font-size: 17px;
        line-height: 1.5em;
    }

    .elementor-15846 .elementor-element.elementor-element-3917321 {
        padding: 15% 10% 0% 10%;
    }

    .elementor-15846 .elementor-element.elementor-element-a10c6af {
        text-align: center;
    }

    .elementor-15846 .elementor-element.elementor-element-a10c6af .elementor-heading-title {
        font-size: 28px;
        line-height: 1.5em;
    }

    .elementor-15846 .elementor-element.elementor-element-f79fda6 {
        padding: 25% 0% 20% 0%;
    }

    .elementor-15846 .elementor-element.elementor-element-7868034>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0% 0% 0% 0%;
    }

    .elementor-15846 .elementor-element.elementor-element-909139d {
        text-align: center;
    }

    .elementor-15846 .elementor-element.elementor-element-c4da6fe {
        text-align: center;
    }

    .elementor-15846 .elementor-element.elementor-element-c4da6fe .elementor-heading-title {
        font-size: 24px;
        line-height: 1.5em;
    }

    .elementor-15846 .elementor-element.elementor-element-c4da6fe>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-15846 .elementor-element.elementor-element-cd1f34c {
        text-align: center;
        font-size: 14px;
    }

    .elementor-15846 .elementor-element.elementor-element-cd1f34c>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-15846 .elementor-element.elementor-element-0504406 {
        padding: 25% 0% 20% 0%;
    }

    .elementor-15846 .elementor-element.elementor-element-7be2bf3 {
        text-align: center;
    }

    .elementor-15846 .elementor-element.elementor-element-33326d9 {
        text-align: center;
    }

    .elementor-15846 .elementor-element.elementor-element-33326d9 .elementor-heading-title {
        font-size: 24px;
        line-height: 1.5em;
    }

    .elementor-15846 .elementor-element.elementor-element-33326d9>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-15846 .elementor-element.elementor-element-2de6681 {
        text-align: center;
        font-size: 14px;
    }

    .elementor-15846 .elementor-element.elementor-element-2de6681>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-15846 .elementor-element.elementor-element-7b75518 {
        padding: 25% 0% 20% 0%;
    }

    .elementor-15846 .elementor-element.elementor-element-a99bc93 {
        text-align: center;
    }

    .elementor-15846 .elementor-element.elementor-element-93f4c96 {
        text-align: center;
    }

    .elementor-15846 .elementor-element.elementor-element-93f4c96 .elementor-heading-title {
        font-size: 24px;
        line-height: 1.5em;
    }

    .elementor-15846 .elementor-element.elementor-element-93f4c96>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-15846 .elementor-element.elementor-element-c96de2c {
        text-align: center;
        font-size: 14px;
    }

    .elementor-15846 .elementor-element.elementor-element-c96de2c>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-15846 .elementor-element.elementor-element-3ddc98f {
        padding: 25% 0% 20% 0%;
    }

    .elementor-15846 .elementor-element.elementor-element-5a03c50 {
        text-align: center;
    }

    .elementor-15846 .elementor-element.elementor-element-4d787d5 {
        text-align: center;
    }

    .elementor-15846 .elementor-element.elementor-element-4d787d5 .elementor-heading-title {
        font-size: 24px;
        line-height: 1.5em;
    }

    .elementor-15846 .elementor-element.elementor-element-4d787d5>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-15846 .elementor-element.elementor-element-4e67fe6 {
        text-align: center;
        font-size: 14px;
    }

    .elementor-15846 .elementor-element.elementor-element-4e67fe6>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-15846 .elementor-element.elementor-element-ec244d0 {
        padding: 25% 0% 20% 0%;
    }

    .elementor-15846 .elementor-element.elementor-element-676c5ed {
        text-align: center;
    }

    .elementor-15846 .elementor-element.elementor-element-39f7b79 {
        text-align: center;
    }

    .elementor-15846 .elementor-element.elementor-element-39f7b79 .elementor-heading-title {
        font-size: 24px;
        line-height: 1.5em;
    }

    .elementor-15846 .elementor-element.elementor-element-39f7b79>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-15846 .elementor-element.elementor-element-feeef18 {
        text-align: center;
        font-size: 14px;
    }

    .elementor-15846 .elementor-element.elementor-element-feeef18>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-15846 .elementor-element.elementor-element-33052e6 {
        padding: 25% 0% 20% 0%;
    }

    .elementor-15846 .elementor-element.elementor-element-7c39a92 {
        text-align: center;
    }

    .elementor-15846 .elementor-element.elementor-element-2e1367c {
        text-align: center;
    }

    .elementor-15846 .elementor-element.elementor-element-2e1367c .elementor-heading-title {
        font-size: 24px;
        line-height: 1.5em;
    }

    .elementor-15846 .elementor-element.elementor-element-2e1367c>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-15846 .elementor-element.elementor-element-2799e72 {
        text-align: center;
        font-size: 14px;
    }

    .elementor-15846 .elementor-element.elementor-element-2799e72>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-15846 .elementor-element.elementor-element-04e11f2 .elementor-button {
        padding: 5% 5% 5% 5%;
    }

    .elementor-15846 .elementor-element.elementor-element-04e11f2>.elementor-widget-container {
        margin: 32px 0px 0px 0px;
    }

    .elementor-15846 .elementor-element.elementor-element-04e11f2 {
        width: 100%;
        max-width: 100%;
    }

    .elementor-15846 .elementor-element.elementor-element-289be30 {
        margin-top: 35%;
        margin-bottom: 25%;
        padding: 0% 0% 0% 0%;
    }

    .elementor-15846 .elementor-element.elementor-element-64e3779>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-15846 .elementor-element.elementor-element-46b77b0 .elementor-heading-title {
        font-size: 32px;
    }

    .elementor-15846 .elementor-element.elementor-element-8865458 {
        font-size: 14px;
    }

    .elementor-15846 .elementor-element.elementor-element-8865458>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0% 7% 0% 7%;
    }

    .elementor-15846 .elementor-element.elementor-element-841502e {
        margin-top: 0%;
        margin-bottom: 3%;
    }

    .elementor-15846 .elementor-element.elementor-element-26ae9ab {
        width: 20%;
    }

    .elementor-15846 .elementor-element.elementor-element-74a6f69 img {
        height: 14px;
    }

    .elementor-15846 .elementor-element.elementor-element-4139953 {
        width: 20%;
    }

    .elementor-15846 .elementor-element.elementor-element-c1296fc img {
        height: 32px;
    }

    .elementor-15846 .elementor-element.elementor-element-6a7a6d1 {
        width: 20%;
    }

    .elementor-15846 .elementor-element.elementor-element-70c205b img {
        height: 32px;
    }

    .elementor-15846 .elementor-element.elementor-element-6aa70b8 {
        width: 20%;
    }

    .elementor-15846 .elementor-element.elementor-element-bcc841a img {
        height: 14px;
    }

    .elementor-15846 .elementor-element.elementor-element-4b038df {
        width: 20%;
    }

    .elementor-15846 .elementor-element.elementor-element-b81d071 img {
        height: 30px;
    }

    .elementor-15846 .elementor-element.elementor-element-f40e8b0 {
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .elementor-15846 .elementor-element.elementor-element-9e2d743 {
        width: 20%;
    }

    .elementor-15846 .elementor-element.elementor-element-2167038 img {
        height: 32px;
    }

    .elementor-15846 .elementor-element.elementor-element-9ebd842 {
        width: 20%;
    }

    .elementor-15846 .elementor-element.elementor-element-b1bb11f img {
        height: 32px;
    }

    .elementor-15846 .elementor-element.elementor-element-6ad34af {
        width: 20%;
    }

    .elementor-15846 .elementor-element.elementor-element-8ae50f7 img {
        height: 14px;
    }

    .elementor-15846 .elementor-element.elementor-element-a012bfc {
        width: 20%;
    }

    .elementor-15846 .elementor-element.elementor-element-9db1884 img {
        height: 32px;
    }

    .elementor-15846 .elementor-element.elementor-element-5df3952 {
        width: 20%;
    }

    .elementor-15846 .elementor-element.elementor-element-120b646 img {
        height: 32px;
    }

    .elementor-15846 .elementor-element.elementor-element-f784294 {
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .elementor-15846 .elementor-element.elementor-element-9ee9a2c {
        width: 20%;
    }

    .elementor-15846 .elementor-element.elementor-element-477a9c8 img {
        height: 34px;
    }

    .elementor-15846 .elementor-element.elementor-element-e7ffc4a {
        width: 20%;
    }

    .elementor-15846 .elementor-element.elementor-element-c7c8b14 img {
        height: 32px;
    }

    .elementor-15846 .elementor-element.elementor-element-a4e7961 {
        width: 20%;
    }

    .elementor-15846 .elementor-element.elementor-element-f161cdf img {
        height: 32px;
    }

    .elementor-15846 .elementor-element.elementor-element-5dc2d2a {
        width: 20%;
    }

    .elementor-15846 .elementor-element.elementor-element-c8b1727 img {
        height: 32px;
    }

    .elementor-15846 .elementor-element.elementor-element-8835194 {
        width: 20%;
    }

    .elementor-15846 .elementor-element.elementor-element-81b7cb9 img {
        height: 35px;
    }

    .elementor-15846 .elementor-element.elementor-element-bbbc569 {
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .elementor-15846 .elementor-element.elementor-element-bd77888 {
        width: 20%;
    }

    .elementor-15846 .elementor-element.elementor-element-cf1a4ac img {
        height: 32px;
    }

    .elementor-15846 .elementor-element.elementor-element-d5b7a13 {
        width: 20%;
    }

    .elementor-15846 .elementor-element.elementor-element-3be0778 img {
        height: 32px;
    }

    .elementor-15846 .elementor-element.elementor-element-3d36b80 {
        width: 20%;
    }

    .elementor-15846 .elementor-element.elementor-element-1e58617 img {
        height: 25px;
    }

    .elementor-15846 .elementor-element.elementor-element-abed621 {
        width: 20%;
    }

    .elementor-15846 .elementor-element.elementor-element-94d640e img {
        height: 20px;
    }

    .elementor-15846 .elementor-element.elementor-element-e34e4b8 {
        width: 20%;
    }

    .elementor-15846 .elementor-element.elementor-element-f644534 img {
        height: 25px;
    }
}